<% content_for(:title, 'News | YETC | Admin') %>

<div class="row">
	<div class="small-12 columns">
		<h1>
			Edit <%= @newsitem.title %>
		</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<%= render 'admin/newsitems/form' %>
	</div>
</div>
