- content_for(:title, 'News | YMTEC | Admin')
.container
  .row
    .col-xs-12.col-lg-9
      %h1.page-header Add News Item
.container
  .row
    .col-xs-12.col-lg-9
      = render 'admin/newsitems/form'
