<% content_for(:title, 'Login | YETC | Admin') %>

<div class="row">
	<div class="small-9 columns panel">
		<h1>Login</h1>
		<%= form_for @session, url: admin_sessions_path do |f| %>
			<%= f.text_field :email %>
			<%= f.password_field :password %>
			<%= f.submit 'Sign In', class: 'button round right' %>
		<% end %>
	</div>
</div>
