<% content_for(:title, 'About the club') %>

<div class="row">
	<div class="small-12 columns">
		<h1>About the club</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-8 columns">
		<p>
			The club provides an opportunity for children of secondary school age (years 7 –11 inclusive) to engage in technology, engineering and computing activities in a safe and friendly environment to develop technical knowledge and abilities in the company of like minded peers; for them to develop interpersonal skills and to have some fun exploring and developing projects that they are interested in.
		</p>
		<p>
It is mainly up to individual members what they do at the club. In broad outline, which is not meant to be exclusive, electronic, mechanical and computing aspects will be involved. This might take the form of kit making, specific and pre-planned ‘starter’ projects or individual projects that members creatively devise and can be realistically accomplished. It might be a finished product embracing a number of different areas of technology or some model. The objective being that it is something they can work on and take away when finished.
		</p>
		<p>
We have excellent facilities - A workshop equipped with benches and stools. A range of hand tools – screwdrivers, pliers, saws, files etc. Soldering irons and other equipment such as pillar drills, electric saws, sanders, hot wire line bender for acrylic sheet, laser cutter and 3D printer with access to specialist technology software (CAD, CADCAM) to enable the design of electronic circuits, simulations and make technical drawings along with production, e.g. laser print. Also computers to program a small computer (Raspberry Pi) or microprocessor (Arduino). The club is not a computing, programming, coding or Scratch club, although these activities might be undertaken in the process of making something.
		</p>
		<p>
Within the membership fee a small range of parts and kits are provided.
		</p>
	</div>

	<div class="small-12 medium-4 columns">
		<p>Put some images here.</p>
	</div>
</div>
