- content_for(:title, "Club Rules | Policy | YMTEC")
.container
  .row.policy
    %nav#affix-nav.hidden-xs.hidden-sm.hidden-md.col-lg-3.col-lg-push-9
      %ul.nav.side-nav.affix-top( data-spy="affix" data-offset-top="50" )
        %li.active
          %a{:href => "#club-name"} Club name
        %li( class="" )
          %a{:href => "#aims"} Aims and objectives
        %li
          %a{:href => "#activities"} Club activities
        %li
          %a{:href => "#facilities"} Facilities available
        %li
          %a{:href => "#materials"} Materials and consumables
        %li
          %a{:href => "#venue"} Venue and Organisation
        %li
          %a{:href => "#membership"} Membership
        %li
          %a{:href => "#membership-cost"} Cost of membership
        %li
          %a{:href => "#parent-roles"} Role of parent/responsible adult
        %li
          %a{:href => "#attendance"} Missed attendance
        %li
          %a{:href => "#finishing"} Early finishing
        %li
          %a{:href => "#closure"} Unforseen closure
        %li
          %a{:href => "#conduct"} Member's conduct
        %li
          %a{:href => "#tidying"} Clearing and tidying up
        %li
          %a{:href => "#hands"} Health & safety
        %li
          %a{:href => "#safeguarding"} Safeguarding
        %li
          %a{:href => "#insurance"} Insurance
        %li
          %a{:href => "#disclaimer"} Disclaimer
        %li
          %a{:href => "#organiser"} Club organiser
    .col-xs-12.col-lg-9.col-lg-pull-3
      %h1 Club Rules
      %h2#club-name Club Name
      %p Saturday Morning Young Maker’s Club (working name, title to be confirmed)
      %h2#aims Aims and Objectives
      %p To create an opportunity for children of secondary school age (years 7 –11 inclusive) to engage in technology, engineering and computing activities in a safe and friendly environment to develop technical knowledge and abilities in the company of like minded peers; for them to develop interpersonal skills and to have some fun exploring and developing projects that they are interested in.
      %h2#activities Club activities
      %p A lot will depend as to what the members want to do. In broad outline, which is not meant to be exclusive, electronic, mechanical and computing aspects will be involved. This might take the form of kit making, specific and pre-planned ‘starter’ projects or individual projects that members creatively devise and can be realistically accomplished. It might be a finished product embracing a number of different areas of technology or some model. The objective being that it is something they can work on and take away when finished.
      %a{:name => "build"}
      %h2#facilities Facilities available
      %p A workshop equipped with benches and stools.
      %p A range of hand tools – screwdrivers, pliers, saws, files etc
      %p Soldering irons
      %p Other equipment available - pillar drill, electric saws, sanders.
      %p Hot wire line bender for acrylic sheet.
      %p Laser cutter and 3D printer.
      %p Safe Internet access for research and access to electronically stored technical material on various components.
      %p IT network access for word processing and spreadsheet programs
      %p Print (costs per sheet might apply – colour/black &amp; white)
      %p Access to specialist technology software (CAD, CADCAM) to enable the design of electronic circuits, simulations and make technical drawings along with production, e.g. laser print.
      %p Computers to program a small computer (Raspberry Pi) or microprocessor (Arduino).
      %p The club is not a computing, programming, coding or Scratch club, although these activities might be undertaken in the process of making something.
      %h2#materials Materials and consumables
      %p Within the membership fee a small range of parts and kits are provided.
      %p Any expense over and above this basic ‘support’ level would be met by the member, that they would buy or obtain any additional items.
      %h2#venue Venue and organisation
      %p The ideal location for this type of club would be within the DT department of a school.
      %p Club operating hours: At this initial stage, it is hoped that the club could operate virtually every Saturday morning throughout the year, independent of school terms and through them. Initially, the club will run from 09:00 till 11:00 (2 hours) on the Saturday and if there is great demand for places in the club, an optional second session 11:00 till 13:00 (2 hours) extension would be desirable.
      %h2#membership Membership
      %p The club will not discriminate against, race, religion, gender and ability.
      %p Age will be restricted to that applicable to school years 7 to 11 (or upper age under 18?) for safety reasons.
      %p The number of members in a session is limited to 20 for health and safety reasons.
      %p The club does not operate on a ‘drop-in’ basis; it is by joining and paying a fee in advance.
      %p The club operates on a ‘not for profit’ basis.
      %p All staff will provide their time and services on a voluntary, unpaid basis, and have extended DBS checks.
      %p Should the club be oversubscribed, there will be a waiting list and an offer to join will be made on a “first come first served” basis when a place becomes available.
      %h2#membership-cost Cost of membership
      %p The membership period will be quarterly with some provision for ‘try before you buy’.
      %p The fee is payable in advance.
      %p 20 bodies for 2 hr rent £60 = £3.00, say £5.00 pw for 13 wk = £65.00 pq
      %h2#parent-roles Role of parent/responsible adult
      %p The responsible adult will pay the membership fee in advance and also provide emergency contact details, along with any relevant medical and where appropriate, additional personal information.
      %p A responsible adult will need to ‘join’ their child up and make their own transport/travel arrangements to and from the club.
      %p The responsible adult will be charged if they arrive late to collect their child. If something unexpected crops up, they should make alternate provisions for their child’s safe journey home or to another location.
      %h2#attendance Missed Attendance
      %p If the member misses a session then no refund will be made, if a member decides not to come any more, a pro rata rebate will be made.
      %h2#finishing Early finishing
      %p Should the club need to close early due to an emergency situation, parents or responsible adult will be telephone as soon as possible and arrangements made.
      %h2#closure Unforeseen closure
      %p If the club will not run for any reason on a given day, as much advance notice will be given. Parents should check the website, facebook and twitter before departing on the morning.
      %p Should short notice cancellation of the club be necessary on the morning then parents will be telephoned and advised.
      %h2#conduct Member’s conduct
      %p Members will be expected to work safely any serious disregard of safety measures will result in termination of membership.
      %p Members are also expected not to behave in an anti-social way or engage in bullying or any crime; such will be addressed by termination of membership.
      %p The club adheres to other policies in place within the centre concerning such matters as eating, drinking and smoking.
      %h2#tidying Clearing and tidying up
      %p Members are expected to assist with clearing and tiding to leave the workshop and facilities in a neat and tidy condition.
      %p Debris will be swept from benches and equipment, materials etc stored away and stools placed under or on benches as specified by the centre.
      %h2#hands Health &amp; Safety
      %p The club adheres to legislative requirements and the policies of the centre to ensure a safe environment for club members.
      %p Staff of the club has certain specialist training for certain types of equipment that are used.
      %p At least one of the team has an appropriate first aid qualification.
      %p The club would in the case of an accident and as appropriate make use of the centre’s first aid box.
      %p The club will maintain an accident book.
      %p Staff will adhere to fire safety measures and be familiar with procedures for alerting and dealing with any fire along with procedures for evacuation and emergency assembly point.
      %h2#safeguarding Safeguarding
      %p The club will have safeguarding policies and procedures in place, with training as necessary.
      %p The club will produce and adhere to policies and procedures to ensure the safety of children is maintained.
      %p It is recognised that some specialist training is needed in this area.
      %p Currently there are four STEM Ambassadors, one of whom is female, willing to voluntarily work in this club, all have clear enhanced DBS checks.
      %p Any other adults assisting with the club that have contact with children will be subject to the same checks.
      %p If any discovery or disclosure of a child protection nature should arise the club will have a policy and procedure for this, again specialist training is likely to be required for this.
      %p The club will have a procedure for investigating any complaints concerning child welfare against an adult member assisting with the club.
      %h2#insurance Insurance
      %p The centre’s existing insurance policies may cover the proposed Saturday activities. If not the club will need to arrange their own, probably at least for public liability.
      %h2#disclaimer Disclaimer
      %p At the time of writing, the information given herein is accurate. However, periodic reviews of how the club operates, its policies and procedures will be made and reflected by an update to this document.
      %h2#organiser Club Organiser
      %p Edwin David Bye
      %h4 First draft produced:  04 August 2014
