<% content_for(:title, "Linking Policy | Policy | YMTEC") %>

<div class="row policy">
  <div class="small-12 columns">
    <h1>Linking policy</h1>

    <h2>1.   Introduction</h2>

    <ul>
    <li><p>1.1.  We welcome links to our website made in accordance with the terms of this policy.</p></li>
    <li><p>1.2.  This policy is intended to assist you when linking to our website. By using our website you agree to be bound by the provisions of this policy.</p></li>
    </ul>

    <h2>2.   Credit</h2>

    <ul>
    <li>2.1.  This document was created using a template from  <a href="http://www.seqlegal.com">SEQ Legal</a>.</li>
    </ul>

    <h2>3.   Links to our website</h2>

    <ul>
    <li><p>3.1.  Links pointing to our website should not be misleading.</p></li>
    <li><p>3.2.  Appropriate link text should always be used in links pointing to our website.</p></li>
    <li><p>3.3.  From time to time we may update the URL structure of our website and, unless we agree in writing otherwise, all links should point to [MAIN DOMAIN ROOT].</p></li>
    <li><p>3.4.  You must not use our logo to link to our website (or otherwise) without our express written permission.</p></li>
    <li><p>3.5.  You must not link to our website using any inline linking technique.</p></li>
    <li><p>3.6.  You must not frame the content of our website or use any similar technology in relation to the content of the website.</p></li>
    </ul>

    <h2>4.   Links from our website</h2>

    <ul>
    <li><p>4.1.  Our website includes hyperlinks to other websites owned and operated by third parties; such hyperlinks are not recommendations.</p></li>
    <li><p>4.2.  We have no control over the contents of third party websites, and we accept no responsibility for them or for any loss or damage that may arise from your use of them.</p></li>
    </ul>

    <h2>5.   Removal of links</h2>

    <ul>
    <li><p>5.1.  You agree that, should we request the deletion of a link to our website that is within your control, you will delete the link promptly.</p></li>
    <li><p>5.2.  If you would like us to remove a link to your website that is included on this website, please contact us using the contact details below. Unless you have a legal right to demand removal, such removal will be at our discretion.</p></li>
    </ul>

    <h2>6.   Variation</h2>

    <ul>
    <li>6.1.  We may amend this policy at any time by publishing a new version on our website.</li>
    </ul>

    <h2>7.   Our details</h2>

    <ul>
    <li><p>7.1.  This website is owned and operated by Ed Bye.</p></li>
    <li><p>7.2.  Our principal place of business is at [address].</p></li>
    <li><p>7.3.  You can contact us by writing to the business address given above, by using our website contact form, or by email to <a href="contact-symc@emd-research.co.uk">contact-symc@emd-research.co.uk</a>.</p></li>
    </ul>
  </div>
</div>
