<% content_for(:title, 'Club Location') %>

<div class="row">
	<div class="small-12 columns">
		<h1>Club Location</h1>
	</div>
</div>

<div class="row">
	<div class="small-7 columns">
		<div id="map"></div>
	</div>
	<div class="small-5 columns">
		<p>
			The club meets at ??? every (most) Saturday Mornings from 09:00 to 11:00.
		</p>
		<p>
			Due to health and safety reasons we can not operate on a drop-in basis, it has to be for members only.
		</p>
		<p>
			We can not accommodate casual visits from prospective members or other visitors.
		</p>
		<p>
			If you would like to visit to see the club, meet the organisers etc then please use the contact us form to make arrangements.
		</p>
	</div>
</div>

<% content_for(:view_specific_javascript) do %>
	<%= render 'google_maps' %>
<% end %>
