@import "foundation/functions";

$primary-blue: rgba(51, 102, 153, 1);
$secondary-blue: rgba(0, 51, 102, 1);
$primary-yellow: rgba(255, 204, 102, 1);
$secondary-yellow: darken($primary-yellow, 5%);
$primary-white: rgba(255, 255, 255, 1);

// Foundation
$topbar-bg: $secondary-blue;
$topbar-link-bg: $topbar-bg;
$topbar-dropdown-bg: $topbar-bg;
$topbar-dropdown-link-bg: $topbar-bg;
$topbar-link-bg-hover: darken($topbar-bg, 10%);

@import 'foundation';