// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Homepage Skrollr */

.slide-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
.content-slide a {
	// margin-top: 100px;
}
.over-photo {
	padding-top: 200px;
	// position: absolute;
 //  left: 30%;
 //  top: 50%;
 //  transform: translate(-20%, -50%);
}

.over-photo h1, .over-photo p {
	color: #FFFFFF;
}

/* Picture Slides */
#slide-1 .slide-background { background-image:url(image_path('circuit.png')) }
#slide-3 .slide-background { background-image:url(image_path('toolbox.png')) }
#slide-5 .slide-background { background-image:url(image_path('machine.png')) }
#slide-7 .slide-background { background-image:url(image_path('wires.png')) }

/* Plain Slides */
.plain-slide-background {
    background: none;
    background-color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}