@import "colours";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#page-wrapper {
	min-height: 100%;
	position: relative;
}

.header-large {
	background-color: $primary-blue;
	padding-top: 50px;
	padding-bottom: 50px;
}

.header-large h1 {
	color: #FFFFFF;
	font-size: 1.5em;
	text-transform: uppercase;
}

main {
	overflow-x: hidden;
	padding-bottom: 120px; /* Height of the footer element */
}

footer {
	width: 100%;
	// height: 120px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: $primary-yellow;
}

#footer-top {
	height: 100px;
	padding: 25px 15px;
}

#bottom-nav ul li {
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-right: 15px;
}

#social {
	background-color: $primary-yellow;
}

#social ul li {
	display: inline-block;
	margin-left: 10px;
}

#facebook img, #twitter img {
	height: 50px;
}

#footer-bottom {
	clear: both;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	width: 100%;
	background-color: $secondary-yellow;
	color: $primary-blue;
	text-align: center;
}

#footer-bottom p {
	font-size: 12px;
	padding: 2px 0px;
}

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.policy ul li {
	list-style: none;
}

// /* Admin section specific */
// .admin-nav-panel {
//   @include panel(
//     $padding: 0
//   );
// }
//
// .admin-side-nav {
//   @include side-nav();
//   li {
//   	margin: 0px;
//   	padding: 0;
//   	a:not(.button) {
// 	    display: block;
// 	    color: #008CBA;
// 	    margin: 0;
// 	    padding: 5px;
// 	  };
//   };
// }
