- content_for(:title, 'Users | YMTEC | Admin')
.container
  .row
    .col-xs-12.col-lg-9
      %h1.page-header
        Edit #{"#{@user.firstname} #{@user.lastname}"}
.container
  .row
    .col-xs-12.col-lg-9
      = render 'admin/users/form'
