<% content_for(:title, 'Users | YMTEC | Admin') %>

<div class="row">
	<div class="small-12 columns">
		<h1>
			Add User
		</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<%= render 'admin/users/form' %>
	</div>
</div>
