<div data-alert class="alert-box secondary">
    <div class="row">
      <div class="small-12 columns">
        This site uses cookies. Please read our <a href="/cookies_policy">Cookies Policy</a>.
        Click to <%= link_to 'accept', accept_cookies_policy_path(ref: request.url) %> the terms of
        our policy.
      </div>
    </div>
  </div>