.container.alert.alert-info
  .row
    .col-xs-12
      This site uses cookies. Please read our #{link_to "Cookies Policy", cookies_policy_path}.
      Click to #{link_to 'accept', accept_cookies_policy_path(ref: request.url)} the terms of
      our policy.
