<footer>
	<div id="footer-top">
		<section id="bottom-nav" class="left">
			<ul>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Cookies Policy</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</section>
		<section id="social" class="right">
			<ul>
				<li><a href="https://www.facebook.com/pages/Southend-Young-Makers-Club/137666629757570" id="facebook"><%= image_tag(image_path('icons/facebook.png')) %></a></li>
				<li><a href="www.twitter.com" id="twitter"><%= image_tag(image_path('icons/twitter.png')) %></a></li>
			</ul>
		</section>
	</div>
	<div id="footer-bottom">
		<p>Copyright &copy; 2014 | Ashley Bye</p>
	</div>
</footer>